@model List<ExpenseTracker.Models.Expense>

<h2>Expenses</h2>

<a href="/Expenses/Create">Add Expense</a>

<table border="1">
    <tr>
        <th>Date</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Description</th>
    </tr>
    @foreach (var e in Model)
    {
        <tr>
            <td>@e.Date.ToShortDateString()</td>
            <td>@e.Category</td>
            <td>@e.Amount</td>
            <td>@e.Description</td>
        </tr>
    }
</table>
