<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/0a819857-868f-428c-bca9-710866c4c020/resourceGroups/ExpenseTracker/providers/Microsoft.ContainerRegistry/registries/ExpenseTrackerPOC</ResourceId>
    <ResourceName>ExpenseTrackerPOC</ResourceName>
    <ResourceGroup>ExpenseTracker</ResourceGroup>
    <Subscription>Vibhu</Subscription>
    <RegistryUrl>https://expensetrackerpoc.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c65080d0-625f-4695-9082-1644cab9e4b7</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>